.para_table {
    margin-bottom: 0;
}

.btn_style {
    color: white;
}

.btn_style:hover {
    text-decoration: none!important;
    color: white!important;
}

.style_title {
    border: solid;
}

.label_style {
    padding-right: 0.5%;
    padding-left: 0.5%;
}